<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Stream</title>
    <link rel="stylesheet" href="/static/css/datastream.css">
</head>
<body>
    <h1>Device Data</h1>
    <table id="device-data-table">
        <thead>
            <tr>
                <th>Battery Level</th>
                <th>Device ID</th>
                <th>First Sensor Temperature</th>
                <th>Route From</th>
                <th>Route To</th>
            </tr>
        </thead>
        <tbody>
            <!-- Rows will be dynamically populated here -->
        </tbody>
    </table>
	<br>
	<a href="/dashboard">Go Back</a>
    <script src="/static/js/datastream.js"></script>
</body>
</html>

    
