<!DOCTYPE html>
	<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Forgot Password</title>
	<link rel="stylesheet" href="/static/css/forgot_password.css">
</head>
<body>

<div class="forgotpassword-container">
	<h2>Enter your registered email</h2>
	<form id="forgotpassword-form">
		<label for="username">Username/Email</label>
		<input type="text" id="username" name="username" placeholder="example@abc.com" required>

		<button type="submit">Reset</button>
	</form>
</div>

<script src = "/static/js/forgotpassword.js"></script>

</body>
</html>
