<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User Shipments</title>
	<link rel="stylesheet" href="/static/css/my_shipment_table.css">
</head>
<body>

	<h1>Your Shipments</h1>
	<table id="shipments-table">
		<thead>
			<tr>
				<th>Shipment No</th>
				<th>Container No</th>
				<th>Route</th>
				<th>Goods Type</th>
				<th>Expected Delivery Date</th>
				<th>PO No</th>
				<th>Device</th>
				<th>Delivery No</th>
				<th>NDC No</th>
				<th>Batch ID</th>
				<th>Serial No</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<!-- Rows will be dynamically populated here -->
		</tbody>
	</table>
	<a href="/dashboard">Go Back</a>

	<script src="/static/js/my_shipment_table.js">
	</script>

</body>
</html>
